settings set target.x86-disassembly-flavor intel

command alias brf breakpoint set --file %1 --line %2
command alias ptype target modules lookup -t %1
command alias reload command source -s 1 ~/.lldbinit
